.about_page_hero {
    height: calc(100vh - var(--layout-nav-height));
    background-image: url("/profilbild.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}


.about_page_hero_text {
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);

    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);


    color: white;
    font-family: "MyScriptAlexander2";
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);

    padding-left: var(--layout-content-padding);
    padding-right: var(--layout-content-padding);
}