.about_page_hero {
    height: calc(100vh - var(--layout-nav-height));
    background-image: url("/profilbild.JPG");
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}


.about_page_hero_text {
    position: absolute;
    left: 50%;
    bottom: 4rem;
    transform: translateX(-50%);

    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);


    color: white;
    font-family: "MyScriptAlexander2";
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);

    padding-left: var(--layout-content-padding);
    padding-right: var(--layout-content-padding);
}

.about_page h1 {
    color: black;
    font-family: "MyScriptAlexander2";
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    padding-top: 10px;
    padding-bottom: 20px;
}

.about_page p {
    font-size: 18px;
    line-height: 27px;

}

.about_page_contact {
    text-align: center;
}

.about_page_contact a {
    text-align: center;
    color: blue;
}

.about_page_contact a:focus {
    text-decoration: none;
}

.about_page_contact a:hover {
    background: lightgrey;
}


.about_page_text {
    text-align: justify;
    padding-top: 30px;
}


.about_page_text a:focus {
    text-decoration: none;
}

.about_page_text a:hover {
    background: lightgrey;
}


/*.about_page_image_card {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}*/

.about_page_image_card img {
    /*border-width: px;
    border-color: black;
    border-style: solid;*/
    margin: 0.8rem auto;
    display: block;
    object-fit: contain;
    max-width: var(--layout-content-width);
    height: 300px;
    /*
    border: 1px solid #000;
    padding: 2px;
    box-sizing: border-box;*/
}

.about_page_image_card_caption {
    margin-top: 0.4rem;
    font-size: 0.85rem;
    color: black;
    font-style: italic;
    text-align: center;
}