.about_page_hero {
    height: calc(100vh - var(--layout-nav-height));
    background-image: url("/profilbild.JPG");
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}


.about_page_hero_text {
    position: absolute;
    left: 50%;
    bottom: 4rem;
    transform: translateX(-50%);

    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);


    color: white;
    font-family: "MyScriptAlexander2";
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);

    padding-left: var(--layout-content-padding);
    padding-right: var(--layout-content-padding);
}

.about_page h1 {
    color: black;
    font-family: "MyScriptAlexander2";
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    padding-top: 10px;
    padding-bottom: 20px;
}

.about_page p {
    font-size: 18px;
    line-height: 27px;

}

.about_page_contact {
    text-align: center;
}

.about_page_contact a {
    text-align: center;
    color: blue;
    text-decoration: none;
}

.about_page_contact a:hover {
    text-decoration: underline;
}


.about_page_text {
    text-align: justify;
    padding-top: 30px;
}


.about_page_text a {
    color: blue;
    text-decoration: none;
}

.about_page_text a:hover {
    text-decoration: underline;
}



.about_page_image_card img {
    margin: 0.8rem auto;
    display: block;
    object-fit: contain;
    max-width: var(--layout-content-width);
    height: 300px;
}

@media (max-width: 360px) {
    .about_page_image_card img {
        height: 200;
    }
}

.about_page_image_card_caption {
    margin-top: -0.6rem;
    color: black;
    text-align: center;
}

.about_page_favicon {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about_page_favicon img {
    height: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    box-shadow: 8px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}