.articles_page h1 {
    color: black;
    font-family: "MyScriptAlexander2";
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    padding-top: 10px;
    padding-bottom: 20px;
}

.articles_page h2 {
    color: black;
    font-family: "MyScriptAlexander2";
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 3rem);
    padding-top: 10px;
    padding-bottom: 20px;
}

.articles_page p {
    font-size: 18px;
    line-height: 27px;
    text-align: justify;

}

.articles_page_italic {
    font-style: italic;
}

.articles_page_link {
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 3rem);
    padding-top: 10px;
    padding-bottom: 20px;
}


.articles_page_link a {

    color: black;
    font-family: "MyScriptAlexander2";
    text-decoration: none;

    display: inline-block;
    padding: 0.6rem 1.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    box-shadow: 8px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

.articles_page_link a:hover {
    background-color: lightgrey;
}


.articles_page_text a {
    color: blue;
    text-decoration: none;
}

.articles_page_text a:hover {
    text-decoration: underline;
}

.articles_page_text_with_image {
    display: flex;
    flex-direction: column;
    /* untereinander */
    gap: 1rem;
}

.articles_page_text_with_image p {
    text-align: justify;
}

.articles_page_text_with_image img {
    max-width: 100%;
    height: auto;
}

.articles_page_text_with_image figcaption {
    color: black;
    text-align: center;
}

@media (min-width: 768px) {
    .articles_page_text_with_image {
        display: flex;
        gap: 2rem;
        align-items: flex-start;
        max-width: 100%;
    }

    .articles_page_text_with_image_block {
        flex: 2;
    }

    .articles_page_text_with_image>p {
        flex: 3;
        text-align: justify;
    }

    .articles_page_text_with_image.right {
        flex-direction: row;
    }

    .articles_page_text_with_image.left {
        flex-direction: row-reverse;
    }
}


.articles_page_favicon {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.articles_page_favicon img {
    height: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    /*box-shadow: 8px 1px 10px rgba(0, 0, 0, 0.3);*/
    border-radius: 10px;
}