.articles_page h1 {
    color: black;
    font-family: "MyScriptAlexander2";
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    padding-top: 10px;
    padding-bottom: 20px;
}

.articles_page h2 {
    color: black;
    font-family: "MyScriptAlexander2";
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 3rem);
    padding-top: 10px;
    padding-bottom: 20px;
}

.articles_page p {
    font-size: 18px;
    line-height: 27px;
    text-align: justify;

}

.articles_page_italic {
    font-style: italic;
}

.articles_page_link {
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 3rem);
    padding-top: 10px;
    padding-bottom: 20px;
}


.articles_page_link a {

    color: black;
    font-family: "MyScriptAlexander2";
    text-decoration: none;

    display: inline-block;
    padding: 0.6rem 1.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    box-shadow: 8px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

.articles_page_link a:hover {
    background-color: lightgrey;
}


.articles_page_text a {
    color: blue;
    text-decoration: none;
}

.articles_page_text a:hover {
    text-decoration: underline;
}