@font-face {
    font-family: LiberationSans;
    src: url("/styles/fonts/LiberationSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: LiberationSans;
    src: url("/styles/fonts/LiberationSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: LiberationSans;
    src: url("/styles/fonts/LiberationSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: LiberationSans;
    src: url("/styles/fonts/LiberationSans-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}