 .gallery_page_images_list {

     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 10px;
     margin-top: 20px;
     margin-bottom: 20px;

 }

 .gallery_page_image_card {
     flex-grow: 1;
     flex-shrink: 0;
     flex-basis: auto;
 }

 .gallery_page_image_card img {
     width: 100%;
     height: 300px;
     /*padding: 10px;*/
     object-fit: contain;
     max-width: var(--layout-content-width);
 }

 @media (max-width: 360px) {
     .gallery_page_image_card img {
         height: 200px;
     }
 }