.index_page_quote {
    color: black;
    font-family: "MyScriptAlexander";
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    padding-top: 10px;
    padding-bottom: 20px;
}


.index_page h1 {
    color: black;
    font-family: "MyScriptAlexander2";
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    padding-top: 10px;
    padding-bottom: 20px;
}


.index_page h2 {
    font-size: 15px;
}

.index_page p {
    font-size: 18px;
    line-height: 27px;
}

.index_page_hero {
    height: calc(100vh - var(--layout-nav-height));
    background-image: url("/hero.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}


.index_page_hero_text {
    position: absolute;
    inset: 0;


    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: center;
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);


    color: white;
    font-family: "MyScriptAlexander2";
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);

    top: 2rem;
    bottom: 3rem;
    padding-left: var(--layout-content-padding);
    padding-right: var(--layout-content-padding);
}

.index_page_links {

    text-align: center;

}

.index_page_center {
    text-align: center;
}

.index_page_links a {

    color: black;
    font-family: "MyScriptAlexander2";
    font-size: clamp(2rem, 5vw, 4rem);
    text-decoration: none;

    display: inline-block;
    padding: 0.6rem 1.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    box-shadow: 8px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

.index_page_links a:hover {
    background-color: lightgrey;
}