:root {
    font-family: LiberationSans, sans-serif;

    --layout-nav-height: 80px;
    --layout-nav-logo-height: 60px;
    --layout-nav-logo-height_middle: 50px;
    --layout-nav-logo-height_small: 40px;
    /* --layout-nav-padding-right: calc((var(--layout-nav-height) - var(--layout-nav-burger-height)) / 2);*/
    --layout-nav-padding-right: 20px;
    --layout-nav-padding-left: 20px;

    --layout-nav-burger-height: 25px;
    --layout-burger-gap: calc((var(--layout-nav-burger-height) - 3 * var(--layout-burger-height)) / 2);
    --layout-burger-width: 25px;
    --layout-burger-height: 3px;

    --layout-content-padding: 20px;
    --layout-content-width: calc(100vw - 2 * var(--layout-content-padding));
    --layout-content-height: calc(100vh - var(--layout-nav-height) - var(--layout-footer-height));


    --layout-footer-height: 30px;
}

.layout_navbar_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
}


.layout_navbar {
    font-family: "MyScriptAlexander2";
    display: flex;
    flex-direction: row;
    gap: var(--layout-nav-padding-right);
    justify-content: space-between;
    align-items: center;
    height: var(--layout-nav-height);
    padding-left: var(--layout-nav-padding-left);
    padding-right: var(--layout-nav-padding-right);
    background-color: lightgray;
}

.layout_navbar a {
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 3px;
}

.layout_navbar_left a:hover {
    background: grey;
}


.layout_navbar_left input {
    display: none;
}



.layout_navbar_desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.layout_navbar_desktop a {
    color: white;
    font-size: 38px;
}

.layout_navbar_hamburger {
    display: none;
    flex-direction: column;
    gap: var(--layout-burger-gap);
    cursor: pointer;
}

.layout_navbar_hamburger div {
    width: var(--layout-burger-width);
    height: var(--layout-burger-height);
    border-radius: 3px;
    background-color: black;
    transition: 0.3s;
}

.layout_navbar_burgeritems {
    position: fixed;
    top: var(--layout-nav-height);
    left: 0;
    padding-top: 20px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 60%;
    transform: translateX(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    z-index: 1000;
    background-color: white;
    opacity: 90%;
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.3);
    font-family: "MyScriptAlexander2";
    color: black;
    line-height: 18px;
}

.layout_navbar_burgeritems li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    list-style-type: none;
}

.layout_navbar_burgeritems a,
.layout_navbar_burgeritems a:visited,
.layout_navbar_burgeritems a:active,
.layout_navbar_burgeritems a:focus {
    text-decoration: none;
    color: black;
    font-family: "MyScriptAlexander2";
    padding: 5px;
}

.layout_navbar_burgeritems a:hover {
    background: lightgrey;
}





@media (max-width: 720px) {
    .layout_navbar_hamburger {
        display: flex;
    }

    .layout_navbar_left a {
        display: none;
    }

    body:has(#layout_navbar_toggle:checked) .layout_navbar_burgeritems {
        transform: translateX(0);
    }

    body:has(#layout_navbar_toggle:checked) .layout_navbar_hamburger div:nth-child(1) {
        transform: translateY(calc((var(--layout-burger-height) + var(--layout-burger-gap)))) rotate(45deg);
    }

    body:has(#layout_navbar_toggle:checked) .layout_navbar_hamburger div:nth-child(2) {
        transform: rotate(45deg);
        opacity: 0;
    }

    body:has(#layout_navbar_toggle:checked) .layout_navbar_hamburger div:nth-child(3) {
        transform: translateY(calc(-1 * (var(--layout-burger-height) + var(--layout-burger-gap)))) rotate(-45deg);
    }
}

.layout_navbar_right img {
    display: block;
    height: auto;
    max-height: var(--layout-nav-logo-height);
    width: auto;
}

@media (max-width: 360px) {
    .layout_navbar_right img {
        height: auto;
        max-height: var(--layout-nav-logo-height_middle);
    }
}


@media (max-width: 300px) {
    .layout_navbar_right img {
        height: auto;
        max-height: var(--layout-nav-logo-height_small);
    }
}




.layout_body {
    background-color: white;
    color: black;
    font-family: "LiberationSans";
    margin-top: var(--layout-nav-height);
    padding-right: var(--layout-content-padding);
    padding-left: var(--layout-content-padding);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}



.layout_footer {
    background-color: lightgrey;
    color: black;
    font-family: "LiberationSans";

}