.page_not_found_page h1 {
    color: black;
    font-family: "MyScriptAlexander2";
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    padding-top: 10px;
    padding-bottom: 20px;
}

.page_not_found_page p {
    text-align: center;
    font-size: 18px;
    line-height: 27px;

}

.page_not_found_page a {
    text-align: center;
    color: blue;
    text-decoration: none;
}

.page_not_found_page a:hover {
    text-decoration: underline;
}



.page_not_found_page_favicon {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.page_not_found_page_favicon img {
    height: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    /*box-shadow: 8px 1px 10px rgba(0, 0, 0, 0.3);*/
    border-radius: 10px;
}