.picture_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    --photo-page-margin: 20px;

    margin-bottom: var(--photo-page-margin);
    margin-top: var(--photo-page-margin);

}

.picture_page img {
    max-width: var(--layout-content-width);
    max-height: calc(var(--layout-content-height) + var(--layout-footer-height) - 2 * var(--photo-page-margin));

    width: auto;
    height: 100%;
}

.picture_page_wrapper {
    padding-top: 0.1px;
}


.picture_page_tag strong {
    color: black;
    font-family: LiberationSans, sans-serif;
    font-size: 18px;
    line-height: 27px;
}

.picture_page_tag a {
    color: blue;
    font-family: LiberationSans, sans-serif;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
}

.picture_page_tag a:hover {
    text-decoration: underline;
}