.picture_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    --photo-page-margin: 20px;

    margin-bottom: calc(2 * var(--photo-page-margin));
    margin-top: var(--photo-page-margin);

}

.picture_page h1 {
    color: black;
    font-family: "MyScriptAlexander2";
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    padding-top: 10px;
    padding-bottom: 10px;
}

.picture_page img {
    max-width: var(--layout-content-width);
    max-height: calc(var(--layout-content-height) + var(--layout-footer-height) - 3 * var(--photo-page-margin));

    width: auto;
    height: 100%;
}

.picture_page_wrapper {
    padding-top: 0.1px;
}


.picture_page_tag strong {
    color: black;
    font-family: LiberationSans, sans-serif;
    font-size: 18px;
    line-height: 27px;
}

.picture_page_tag a {
    color: blue;
    font-family: LiberationSans, sans-serif;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
}

.picture_page_tag a:hover {
    text-decoration: underline;
}

.picture_page_description {
    text-align: center;
    /* zentriert alle Texte in der Box */
    display: flex;
    /* optional, wenn du vertikale Ausrichtung brauchst */
    flex-direction: column;
    /* eine Zeile unter der anderen */
    align-items: center;
    /* vertikal mittig im Flex-Container */
}