.rating_page h1 {
    color: black;
    font-family: "MyScriptAlexander2";
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    padding-top: 10px;
    padding-bottom: 20px;
}

.rating_page p {
    font-size: 18px;
    line-height: 27px;

}

.rating_page h2 {
    color: black;
    font-family: "MyScriptAlexander2";
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 3rem);
    padding-top: 10px;
    padding-bottom: 20px;
}